.container {
  max-width: 800px;
  padding: 0px 20px;
  margin: 0 auto;
}

.container > header {
  padding: 20px 0px;
}

.header > a {
  color: rgb(299, 9, 20);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
